body{
    margin: 2em;
    background: black;
}
ul  li{
    padding: 0;
    list-style-type: none;;
}


.list{
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    
}
ul li a {
    display: block;
    color: aliceblue;
    font-size: 2em;
    text-decoration: none;
}
.contentf {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.Cwhite{
    color: white;
}
.pwhite{
    color: white;
}
.copyright{
    display: flex;
    justify-content: center;
    color: white;
}
h1,h2,h3,h4, p{
    color: antiquewhite
    
}

a{
    text-decoration: underline;
}
header{
    max-width: 1200px;
    margin: 2em auto;
    border-bottom: 0.2em solid #bbc;
}

.grid-container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
} 
 
.grid-container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1%;
}

img {

    object-fit: cover;
    aspect-ratio: 16/9;
  
  }
article img, article.img {
    width: 100%;
    border: 0.2em solid white;
    border-radius: 3em;
}